<div class="auth-container">

  <div class="auth-card">

    <h1>Flight Booking</h1>

    <h2>Login</h2>

    <p class="subtitle">
      Login to continue booking your flight
    </p>


    <form
      [formGroup]="loginForm"
      (ngSubmit)="onLogin()"
    >

      <!-- EMAIL -->

      <div class="form-group">

        <label for="email">
          Email
        </label>

        <input
          id="email"
          type="email"
          formControlName="email"
          placeholder="Enter your email"
        />

        @if (
          loginForm.get('email')?.touched &&
          loginForm.get('email')?.invalid
        ) {

          <div class="error">

            @if (loginForm.get('email')?.errors?.['required']) {
              Email is required
            }

            @if (loginForm.get('email')?.errors?.['email']) {
              Please enter a valid email
            }

          </div>

        }

      </div>


      <!-- PASSWORD -->

      <div class="form-group">

        <label for="password">
          Password
        </label>

        <input
          id="password"
          type="password"
          formControlName="password"
          placeholder="Enter your password"
        />

        @if (
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
        ) {

          <div class="error">
            Password is required
          </div>

        }

      </div>


      <!-- LOGIN ERROR -->

      @if (errorMessage) {

        <div class="login-error">
          {{ errorMessage }}
        </div>

      }


      <!-- LOGIN BUTTON -->

      <button
        type="submit"
        [disabled]="isLoading"
      >

        @if (isLoading) {
          Logging in...
        } @else {
          Login
        }

      </button>

    </form>


    <!-- SIGNUP -->

    <p class="signup-text">

      Don't have an account?

      <a
        (click)="goToSignup()"
      >
        Sign Up
      </a>

    </p>


    <!-- TEST CREDENTIALS -->

    <div class="demo-login">

      <p><strong>Demo Login</strong></p>

      <p>
        Admin: admin@flight.com / admin123
      </p>

      <p>
        Passenger: passenger@flight.com / pass123
      </p>

    </div>

  </div>

</div>