.auth-container{
        font-family: 'Times New Roman', Times, serif ;
        line-height: 3.5;
        background-image: url("C:/Users/Dell/Downloads/StockCake-Sunset_Flight_Takeoff-785771-medium.jpg");
        background-repeat: no-repeat;  
        background-position: center;
        color: white;
        text-align: center;
        padding: 30px 20px; 

    }
