<nav class="navbar">

  <a routerLink="/flights" class="brand">
    <span class="brand-icon">✈</span>
    <span>Flyora</span>
  </a>

  @if(isLoggedIn()){

    <div class="nav-links">

      <a routerLink="/flights">Flights</a>

      <a routerLink="/my-trips">My Trips</a>
      <a routerLink="/assistant">✈️ AI Assistant</a>

    </div>

    <div class="nav-actions">

      <button
        class="logout-btn"
        (click)="logout()">

        Logout

      </button>

    </div>

  }

  @else{

    <div class="nav-actions">

      <a
        routerLink="/login"
        class="login-link">

        Login

      </a>

      <a
        routerLink="/register"
        class="register-btn">

        Sign Up

      </a>

    </div>

  }

</nav>