<nav class="navbar">

  <!-- BRAND -->

  <a
    [routerLink]="isAdmin() ? '/admin' : '/flights'"
    class="brand">

    <span class="brand-icon">✈</span>

    <span>
      {{ isAdmin() ? 'Flyora Admin' : 'Flyora' }}
    </span>

  </a>


  @if(isLoggedIn()) {

    <!-- ================= ADMIN NAVBAR ================= -->

    @if(isAdmin()) {

      <div class="nav-links">

       <a
  routerLink="/admin"
  (click)="goToSection('dashboard')">
  Dashboard
</a>

<a
  routerLink="/admin"
  (click)="goToSection('flights')">
  Flights
</a>

<a
  routerLink="/admin"
  (click)="goToSection('bookings')">
  Bookings
</a>

      </div>

    }


    <!-- ================= USER NAVBAR ================= -->

    @else {

      <div class="nav-links">

        <a routerLink="/flights">
          Flights
        </a>

        <a routerLink="/my-trips">
          My Trips
        </a>

        <a routerLink="/assistant">
          ✈️ AI Assistant
        </a>

      </div>

    }


    <!-- ================= LOGOUT ================= -->

    <div class="nav-actions">

      <button
        class="logout-btn"
        (click)="logout()">

        Logout

      </button>

    </div>

  }


  @else {

    <div class="nav-actions">

      <a
        routerLink="/login"
        class="login-link">

        Login

      </a>

      <a
        routerLink="/register"
        class="register-btn">

        Sign Up

      </a>

    </div>

  }

</nav>