.popup-container {
  position: relative;
  padding: 10px;
  background: white;
}


.close-btn {
  position: absolute;

  top: 5px;
  right: 5px;

  border: none;

  background: transparent;

  font-size: 20px;

  cursor: pointer;

  color: #666;
}


.close-btn:hover {
  color: #111;
}


h2 {
  margin: 0;

  font-size: 24px;

  font-weight: 600;
}


.subtitle {
  color: #666;

  margin-top: 8px;

  margin-bottom: 20px;
}


.info {
  display: flex;

  gap: 12px;

  margin-bottom: 20px;
}


.box {
  flex: 1;

  border: 1px solid #e5e5e5;

  border-radius: 8px;

  padding: 12px;

  background: #fafafa;
}


.box small {
  display: block;

  color: #888;

  font-size: 11px;

  margin-bottom: 6px;
}


.box h3 {
  margin: 0;

  font-size: 17px;
}


label {
  display: block;

  font-weight: 600;

  margin-bottom: 8px;
}


select {
  width: 100%;

  padding: 10px;

  border: 1px solid #ccc;

  border-radius: 6px;

  font-size: 14px;

  margin-bottom: 22px;
}


.buttons {
  display: flex;

  justify-content: flex-end;

  gap: 10px;
}


.keep {
  background: white;

  border: 1px solid #ccc;

  padding: 10px 18px;

  border-radius: 6px;

  cursor: pointer;
}


.keep:hover {
  background: #f3f3f3;
}


.cancel {
  background: #b3261e;

  color: white;

  border: none;

  padding: 10px 18px;

  border-radius: 6px;

  cursor: pointer;
}


.cancel:hover {
  background: #8f1c17;
}