.payment-container{

    display:flex;
    justify-content:center;
    align-items:center;
    min-height:90vh;

    background:linear-gradient(
    135deg,
    #eef4ff,
    #ffffff);

    padding:40px;
}

.payment-card{

    width:450px;

    background:white;

    padding:35px;

    border-radius:18px;

    box-shadow:0 12px 35px rgba(0,0,0,.08);
}

h2{

    text-align:center;

    margin-bottom:30px;

    color:#2563eb;
}

.form-group{

    display:flex;

    flex-direction:column;

    margin-bottom:18px;
}

label{

    margin-bottom:8px;

    font-weight:600;
}

input{

    padding:13px;

    border:1px solid #d5d5d5;

    border-radius:10px;

    font-size:15px;

    outline:none;
}

input:focus{

    border-color:#2563eb;
}

.row{

    display:flex;

    gap:18px;
}

.row .form-group{

    flex:1;
}

.error{

    color:red;

    font-size:13px;

    margin-top:4px;
}

.pay-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    background:#2563eb;

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

    margin-top:20px;

    transition:.3s;
}

.pay-btn:hover{

    background:#1d4ed8;
}

.pay-btn:disabled{

    background:#bdbdbd;

    cursor:not-allowed;
}